@import '../../../styles/Variables.scss';
@import '../../../styles/common.scss';
@import '../../../styles/reset.scss';
@media screen and (max-width: 800px) {
  .mainRight {
    display: none;
  }
}

body {
  margin: 0;
  background-color: #fafafa;
}

.navContainer,
.feed,
.mainRightStory,
.recommandForUsers {
  border: $gray_border;
}

/* navigation bar */
.navContainer {
  display: flex;
  justify-content: space-between;
  height: 50px;
  @include padding(0, 20%, 20%);
  background-color: $bg_white;
  border: $gray_border;

  .navLeft {
    @include flex(center, center);
    .instagram_logo_text {
      padding-left: 15px;
      font-family: 'Lobster', cursive;
      font-size: 20px;
    }
    .instagram_logo_img {
      width: 43px;
      padding-right: 15px;
      border-right: 2px solid black;
    }
  }

  .navCenter {
    @include flex(center, center);
    .inputSearch {
      margin: 10px 50px;
      background-color: $bg_white;
      text-align: center;
      width: 215px;
      height: 25px;
      padding: 3px 10px 3px 26px;
      color: #8e8e8e;
      background-color: $bg_white;
      font-weight: 300;
      border: $gray_border;
      border-radius: 3px;
      /* search icon */
      background: url('../../../assets/sunyoung/search.png') no-repeat;
      background-size: 15px;
      background-position: 78px center;
      outline: none;
    }
    img {
      width: 15px;
      height: 15px;
    }
  }

  .navRight {
    @include flex(center, center);
    img {
      width: 43px;
      padding-left: 20px;
    }
  }
}

/* main body */
.mainBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include margin(0, 10%, 20%);
}

.footerLinkList {
  margin-top: 100px;
}
.wrappMainWithFooter {
  display: flex;
  margin-top: 100px;
}

/* feed */
.feed {
  margin-bottom: 50px;
  width: 602px;

  .feedTopContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: $bg_white;
  }
  .feedImgWrap {
    width: 600px;
    height: 600px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .feedBottomContainer {
    padding: 10px 10px 0 10px;
    background-color: $bg_white;
    .feed__description {
      .feed_text {
        width: 580px;
        .sub_feed_text {
          p {
            margin-top: 5px;
          }
        }
      }
    }
  }
  .feedCommentInput {
    @include flex(space-between, center);
    padding: 10px 10px;
    background-color: $bg_white;
    border-top: $gray_border;

    input {
      width: 90%;
      border: none;
      font-size: 15px;
      background-color: $bg_white;
    }
    input:focus {
      outline: none;
    }
  }
}

.userId {
  font-weight: 600;
}

.commentContent {
  .userId {
    margin-right: 5px;
  }
}

.profileImgAndUserId {
  display: flex;
  align-items: center;
  span {
    font-weight: 600;
    color: #3f3e3e;
  }
}

.profileImage {
  @include flex(center, center);
  width: 40px;
  height: 40px;
  margin-right: 7px;
  img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.ring .profileImage {
  background-size: 40px;
  background-image: url('../../../assets/sunyoung/story_ring.png');
}

#icon_more {
  @include flex(center, center);
  width: 30px;
  img {
    width: 15px;
  }
}

.profileText {
  font-size: 14px;
  .userId {
    font-weight: 600;
  }
  div:last-child {
    color: gray;
  }
}
.commentUpper {
  @include flex(space-between, center);
  .button__likeAndDelete img {
    margin-left: 5px;
    width: 17px;
    height: 17px;
  }
}

.commentBottom {
  font-size: 15px;
  color: $textColorGray;
}

.feed__summaryIcons {
  display: flex;
  justify-content: space-between;
  img {
    width: 25px;
  }
  .feed__iconLeft img {
    margin-right: 10px;
  }
}

.feed__whoLikesFeed {
  display: flex;
  align-items: center;
  img {
    border-radius: 70%;
    width: 25px;
    height: 25px;
  }
}

.textWithOtherColor {
  color: #2851a3;
}

.mainRight {
  width: 300px;
  margin-left: 30px;
  .mainRightTop {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
  }
  .mainRightStory {
    @include padding(10px, 10px, 10px);
    height: 180px;
    margin-bottom: 15px;
    background-color: $bg_white;
    overflow: hidden;
    .mainRightStoryTitle {
      display: flex;
      justify-content: space-between;
      span:first-child {
        color: $textColorGray;
      }
      span {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .recommandForUsers {
    @include padding(10px, 10px, 10px);
    height: 150px;
    background-color: $bg_white;
    overflow: hidden;
    .mainRightStoryTitle {
      display: flex;
      justify-content: space-between;
      span:first-child {
        color: $textColorGray;
      }
      span {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

.profile {
  @include flex(flex-start, center);
  margin-top: 3px;
  .profileImageSmallSize {
    @include flex(center, center);
    width: 50px;
    height: 50px;
    margin-right: 7px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}

.profileRecommand {
  @include flex(space-between, center);
  .followText {
    font-size: $textButton_fontSize;
    color: $textButton_color;
  }
}

#button_comment {
  font-size: $textButton_fontSize;
  color: $textButton_color;
  border: none;
  background-color: white;
}

footer {
  a,
  address {
    color: $textColorGray;
    text-decoration: none;
  }
}
footer .footerLinkList {
  margin-top: 20px;
  li {
    display: inline;
  }
}
