$gray_border: 1px solid #e9e7e7;
$textColorGray: gray;
$bg_white: white;

$textButton_fontSize: 14px;
$textButton_color: #0090f6;

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin padding($top, $right, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-left: $left;
}

@mixin margin($top, $right, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-left: $left;
}
