.main {
  /* justify-content: space-between; */
  align-items: flex-start;
  justify-content: center;
  border-top: 1px solid #adabaa;
  background-color: #fafafa;
  height: auto;
  display: flex;
  padding-top: 30px;
}

/*section1*/

.feed {
  border: 1px solid;
  border-radius: 3px;
  background-color: white;
  margin-left: 40px;
  margin-right: 20px;
  border: 1px solid;
  width: 469px;
}

/* 게시물 상단 프로필 */
.feedHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.feedHeader .profile {
  display: flex;
  align-items: center;
}
.feedHeader .profile .img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 10px;
}
.feedHeader .profile .img img {
  width: 100%;
}
.feedHeader .profile .name {
  display: flex;
  flex-direction: column;
}
.feedHeader .profile .name a {
  color: #000;
  text-decoration: none;
}
.feedHeader .profile .name .a01 {
  font-size: 20px;
  font-weight: bold;
}

.feedHeader .more button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

/* 게시글 이미지 */

.commentWrapper .commentIconWrapper img {
  width: 100%;
}

/* 좋아요, 공유하기 등 버튼들 영역 */
.commentWrapper .btns {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.commentWrapper button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

/* 좋아요 수 */
.commentLike {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.commentLike .img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
}
.commentLike .img img {
  width: 100%;
}
.commentLike p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

/* 게시글 내용 */
.contentArea {
  font-size: 14px;
  padding: 0 10px;
}
.contentArea span {
  font-weight: bold;
}
.time {
  padding: 0 10px;
  color: #666;
  font-size: 14px;
}

/* 댓글 리스트 영역 */
.commentLists {
  margin: 0;
  padding: 0 10px;
}
.commentLists li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}
.commentLists li .content {
  display: flex;
  flex-wrap: wrap;
}
.commentLists li .content p {
  margin: 0;
  padding: 0;
}
.commentLists li .content .name {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}
.commentLists li .content .con {
  font-size: 14px;
}
.commentLists li .heart {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
}
.commentLists li .heart button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.commentLists li .heart img {
  width: 100%;
}

/* 댓글 입력창 */
.inputComment {
  display: flex;
  padding: 10px;
  border-top: 1px solid #000;
}
.inputComment input {
  width: 100%;
  border: none;
}
.inputComment button {
  color: #3eb3ff;
  white-space: nowrap;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

/*옆*/
.main_right {
  width: 200px;
  margin-right: 30px;
}

/*aside_1*/

.aside_1 {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.profile_img {
  overflow: hidden; /*속성으로 넘치는 부분은 지워줬어요.*/
  border-radius: 70%;
  width: 38px;
  margin-right: 9px;
}

.story_img {
  overflow: hidden; /*속성으로 넘치는 부분은 지워줬어요.*/
  border-radius: 70%;
  width: 30px;
  margin-right: 9px;
}

.aiside_profile {
  font-size: 8px;
}

.profile_id {
  margin-bottom: 0px;
  font-weight: bolder;
}

.profile_info {
  margin-top: 0px;
  color: #adabaa;
}

/*aside_2*/

.aside_2 {
  padding: 3px 7px 3px 7px;
  margin-bottom: 5px;
  border: 1px solid #adabaa;
  border-radius: 3px;
  font-size: 8px;
}

.aside_2_top {
  display: flex;
  justify-content: space-between;
}

.aside_top_1 {
  color: #adabaa;
  font-weight: bolder;
}

.aside_top_2 {
  font-weight: bolder;
}

.aside2_content {
  display: flex;
  margin: 0px 10px 0px 10px;
}
.aside2_content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.aside2_content li {
  position: relative;
  width: 100%;
}
.aside2_content .follow {
  position: absolute;
  top: 12px;
  right: -62px;
  color: #006cec;
  font-weight: bold;
  font-size: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.aside2_people {
  /**/
  border-radius: 70%;
  overflow: hidden;
  width: 30px;
}

/*aside_3*/

.aside_3 {
  background-color: blueviolet;
  margin-bottom: 5px;
}

/*aside_4*/

.aside_4 {
  background-color: blueviolet;
  margin-bottom: 5px;
}
